.picture {
    max-width: 398px;
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .picture {
        max-width: 282px;
    }
}

@media screen and (max-width: 1024px) {
    .picture {
        max-width: 251px;
        margin-bottom: 20px;
    }
}