    .top {
        @include position(fixed);
        display: block;
        right: 19px;
        bottom: 19px;
        border-radius: 50%;
        border: 1px solid #FFAC1C;
        background: #FFAC1C;
        width: 70px;
        height: 70px;
        color: #FFF;
        &:hover {
            width: 72px;
            height: 72px;
        }
        & i {
            display: block;
            color: #FFF;
            font-size: 1.4rem;
            margin-top: calc(50% - 14px);
        }
    }